# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
classes/

#gradle.properties
*.icls
src/test/resources/

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml


# Ignore Gradle GUI config
gradle-app.setting



# Package Files #
*.jar
!/libs/miglayout-swing-5.3-SNAPSHOT.jar
!/libs/miglayout-core-5.3-SNAPSHOT.jar
!/libs/mxgraph-all.jar
!/libs/rsyntaxtextarea-3.1.1.jar
!/libs/rsyntaxtextarea-3.1.1-javadoc.jar
!/libs/rsyntaxtextarea-3.1.1-sources.jar
!/libs/tbbpm-jar-with-dependencies.jar
!/jarback/compileflow-1.2.0-SNAPSHOT-jar-with-dependencies.jar
!/libs/logback-classic-1.1.8.jar
!/libs/logback-core-1.1.8.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar